
html {
  font-size: 16px;
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: 100vh;
  margin: 0;
  padding: .1em 1em;
}

.add-statement a {
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  padding: .25em;
}

header {
  align-self: flex-start;
  height: 55px;
  width: 100%;
}

header h1 {
  margin: 0;
}

#main-wrapper {
  flex-grow: 3;
}

footer {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  width: 100%;
}

.left {}
.right {}


/* graph */

#graph {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bar {
  background-color: red;
  height: 100%;
  width: 20%;
  position: relative;
}

.left-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid black;
  padding-right: 7.5px;
}

.center-axis {
  width: 96%;
  border-bottom: solid 1px black;
  position: relative;
  top: 125px;
  left: 33px;
}
/* end graph*/
/* 
modal dialog
*/
.modal-dialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(12, 58, 66, 0.6);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modal-dialog:target {
  opacity:1;
  pointer-events: auto;
}
.modal-dialog > div {
  height: 80%;
  width: 85%;
  position: relative;
  margin: 6% auto;
  padding: 5px 20px 13px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#dbe2e2, #c7c3c3);
  background: -webkit-linear-gradient(#dbe2e2, #c7c3c3);
  background: -o-linear-gradient(#dbe2e2, #c7c3c3);
  display: flex;
  flex-direction: column;
}
#statement-adder {
  display: flex;
  flex-grow: 3;
}
.modal-dialog textarea {
  width: 100%;
}
.close {
  background: #606061;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}
/*
end modal dialog
*/

/* date slider */
.date-slider {
  margin: auto;
  width: 95%;
}

.date-slider input {
  width: 100%;
}
/* end date slider */
