$palette-white: white;
$palette-black: black;
$palette-green: #588c7e;
$palette-yellow: #f2e394;
$palette-orange: #f2ae72;
$palette-red: #d96459;
$palette-dark-red: #8c4646;

html {
  font-size: 16px;
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: 100vh;
  margin: 0;
  padding: .1em 1em;
}

.row {
  display: flex;
  flex-direction: row;
}

.equal-column {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.fill-row {
  flex-grow: 20;
}

.add-statement a {
  background: $palette-orange;
  border: 1px solid $palette-dark-red;
  border-radius: 5px;
  cursor: pointer;
  padding: .25em;
}

header {
  align-self: flex-start;
  height: 55px;
  width: 100%;

  h1 {
    margin: 0;
  }
}

#main-wrapper {
  flex-grow: 3;
}

footer {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  width: 100%;
}

#graph {
  display: flex;
  flex-direction: row;
  height: 250px;
  justify-content: space-around;
  width: 100%;
}

.bar {
  background-color: $palette-green;
  margin-right: .25em;
  position: relative;
  text-align: center;
  transition: 1s;
  width: 20%;
}

.left-axis {
  border-right: 1px solid $palette-black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: .25em;
  width: 15%;
}

.center-axis {
  border-bottom: solid 1px $palette-black;
  left: 33px;
  position: relative;
  top: 125px;
  transition: 1s;
  width: 96%;
}

.modal-dialog {
  background: rgba($palette-yellow, .6);
  bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in;
  z-index: 99999;

  &:target {
    opacity: 1;
    pointer-events: auto;
  }

  > div {
    background: linear-gradient($palette-orange, $palette-yellow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: 6% auto;
    padding: 5px 20px 13px;
    position: relative;
    width: 85%;
  }

  textarea {
    width: 100%;
  }
}

#statement-adder {
  display: flex;
  flex-grow: 15;
}

.close {
  background: $palette-red;
  border-radius: 12px;
  box-shadow: 1px 1px 3px $palette-black;
  color: $palette-white;
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  text-decoration: none;
  top: -10px;
  width: 24px;

  &:hover {
    background: $palette-dark-red;
  }
}

#statement-type-switch {
  flex-grow: 1;
  display: flex;
  justify-content: center;

  label {
    padding: 1em;
    border-radius: 5px;
    background-color: transparentize($palette-green, .5);

    &:first-of-type {
      margin-right: 1em;
    }

    &.active {
      background-color: transparentize($palette-green, .1);
    }
  }
}

.date-slider {
  margin: auto;

  .slider-wrapper {
    display: flex;
    justify-content: space-around;
  }

  > div * {
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
  }

  input {
    width: 75%;
  }
}

.current-date {
  margin-bottom: 2em;
  text-align: center;
}

// comparison gauge

%gauge-positioning {
  margin: .33rem;
  width: 10rem;
}

.credit {
  border-bottom: 1px solid $palette-green;
}

.debit {
  border-bottom: 1px solid $palette-dark-red;
}

.gauge-caption {
  @extend %gauge-positioning;

  text-align: center;
}

.gauge {
  @extend %gauge-positioning;

  display: inline-block;
  height: 5rem;
  overflow: hidden;
  position: relative;
}

.gauge::before,
.gauge::after,
.meter {
  content: '';
  display: block;
  position: absolute;
}

.gauge::before,
.meter {
  height: 5rem;
  width: 10rem;
}

.gauge::before {
  background: $palette-dark-red;
  border-radius: 5rem 5rem 0 0;
}

.meter {
  background: $palette-green;
  border-radius: 0 0 6rem 6rem;
  top: 100%;
  transform-origin: center top;
  transition: 1s;
}

// end comparison gauge
