
html {
  font-size: 16px;
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: 100vh;
  margin: 0;
  padding: .1em 1em;
}

.add-statement a {
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  padding: .25em;
}

header {
  align-self: flex-start;
  height: 55px;
  width: 100%;
}

header h1 {
  margin: 0;
}

#main-wrapper {
  flex-grow: 3;
}

footer {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  width: 100%;
}

/* graph */

#graph {
  display: flex;
  flex-direction: row;
  height: 250px;
  justify-content: space-around;
  width: 100%;
}

.bar {
  background-color: red;
  height: 100%;
  position: relative;
  width: 20%;
}

.left-axis {
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 7.5px;
}

.center-axis {
  border-bottom: solid 1px black;
  left: 33px;
  position: relative;
  top: 125px;
  width: 96%;
}
/* end graph*/

/* modal dialog */
.modal-dialog {
  background: rgba(12, 58, 66, 0.6);
  bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in;
  z-index: 99999;
}

.modal-dialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-dialog > div {
  background: linear-gradient(#dbe2e2, #c7c3c3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 80%;
  margin: 6% auto;
  padding: 5px 20px 13px;
  position: relative;
  width: 85%;
}

#statement-adder {
  display: flex;
  flex-grow: 3;
}

.modal-dialog textarea {
  width: 100%;
}

.close {
  background: #606061;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  text-decoration: none;
  top: -10px;
  width: 24px;
}

.close:hover {
  background: #00d9ff;
}
/*
end modal dialog
*/

/* date slider */
.date-slider {
  margin: auto;
  width: 95%;
}

.date-slider > div * {
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
}

.date-slider input {
  width: 90%;
}

.current-date {
  text-align: center;
}

/* end date slider */
